<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="excellence_giftcard" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Gift Card</label>
            <tab>excellence</tab>
            <resource>Excellence_GiftCard::giftcard_config</resource>
            
            <group id="excellence_giftcard_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>GiftCard</label>
                <field id="enable_control" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Store Credit (Yes/No)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>                                
            </group>   
        </section>
    </system>
</config>